<!DOCTYPE html>
<html>
<head>
	<title>WikiFacts</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../dist/leaflet.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />

	<!--[if lte IE 8]><link rel="stylesheet" href="../dist/leaflet.ie.css" /><![endif]-->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
	<script>
		function openTrending(){
			$( "#left-panel" ).panel( "open" );
		}
		$(document).ready(function() {
			$( ".comment_box" ).each(function (i) {
				$(this).height($(this).parent().height()-$(this).next(".current_comment").height()-25);
	      	});
		});
	</script>
</head>
<body>


	<div id="main">

<div data-role="page">

	<div data-role="content">
	</div><!-- /content -->

 	<div data-role="panel" data-display="overlay" id="left-panel" data-theme="b">
		<div class="comment_box" style="height:500px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
		Bobby: said
		</div>
		<div class="current_comment">
        <textarea></textarea> 
 		<button>Comment</button>
 		<button data-theme="a">Snap Picture</button>
 		</div>
<!--         <a href="#" data-rel="close" data-role="button" data-mini="true" data-inline="true" data-icon="delete" data-iconpos="right">Close</a> -->
    </div><!-- /panel -->

	<div data-role="header" data-id="foo1" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a  href="#left-panel" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc">Your Location</a></li>
				<li><a href="a.html">Trending</a></li>
				<li><a href="b.html">Things Happening Nearby</a></li>
				<li><a href="b.html">Friends</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->

</div><!-- /page -->

		<a href="#" onclick="showMap()">Click here</a>


	</div>

		<div id="map" style="width: 100%; height: 100%"></div>

	</div>

	<script src="../dist/leaflet.js"></script>
	<script>

		var map = L.map('map').setView([51.505, -0.09], 13);

		L.tileLayer('http://a.tiles.mapbox.com/v3/newms32.map-qor7z0a2/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);


		L.marker([51.5, -0.09]).addTo(map)
			.bindPopup("<br/>Recent Updates<br/>More..").openPopup();

		L.circle([51.508, -0.11], 500, {
			color: 'red',
			fillColor: '#f03',
			fillOpacity: 0.5
		}).addTo(map).bindPopup("I am a circle.");

		L.polygon([
			[51.509, -0.08],
			[51.503, -0.06],
			[51.51, -0.047]
		]).addTo(map).bindPopup("I am a polygon.");


		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("Bob said: " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);
	</script>

	<div id="fb-root"></div>
	<script type="text/javascript">
		window.fbAsyncInit = function() {
		FB.init({appId: '<?php echo $appId; ?>',cookie: true,xfbml: true,channelUrl: '<?php echo $return_url; ?>channel.php',oauth: true});};
		(function() {var e = document.createElement('script');
		e.async = true;e.src = document.location.protocol +'//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);}());

		function CallAfterLogin(){
		        FB.login(function(response) {
		        if (response.status === "connected")
		        {
		            LodingAnimate(); //Animate login
		            FB.api('/me', function(data) {
		              if(data.email == null)
		              {
		                    //Facbeook user email is empty, you can check something like this.
		                    alert("You must allow us to access your email id!");
		                    ResetAnimate();

		              }else{
		                    AjaxResponse();
		              }
		          });
		         }
		    });
		}

	</script>



</body>
</html>
