<!DOCTYPE html>
<html>
<head>
	<title>WikiFacts</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../dist/leaflet.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="../dist/leaflet.ie.css" /><![endif]-->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>


	<script type="text/javascript">
		function showMap(){
			$("#mainView").show("slow");
			$("#main").hide("slow");
		}
	</script>
</head>
<body>

	<div id="login">

<div data-role="page">

	<div data-role="content">
		HAHAHAH
		Dashboard You are in . Trending Locations
		<p><a href="#" onclick="showMap()">WOO</a></p>		
	</div><!-- /content -->

	<div data-role="header" data-id="foo1" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="b.html">Your Location</a></li>
				<li><a href="a.html">Trending</a></li>
				<li><a href="b.html">Things Happening Nearby</a></li>
				<li><a href="b.html">Challenges (Points: 1) <img width=16 height=16 src="../dist/images/main/settings.png" style="margin-left:5px;position:fixed" /></a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->

</div><!-- /page -->

		<a href="#" onclick="showMap()">Click here</a>


	</div>


	<div id="main">

<div data-role="page">

	<div data-role="content">
		<div id="preview" style="width: 100%; height: 400px"></div>
		Dashboard You are in . Trending Locations
		<p><a href="#" onclick="showMap()">WOO</a></p>		
	</div><!-- /content -->

	<div data-role="header" data-id="foo1" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="b.html">Your Location</a></li>
				<li><a href="a.html">Trending</a></li>
				<li><a href="b.html">Things Happening Nearby</a></li>
				<li><a href="b.html">Challenges <img width=16 height=16 src="../dist/images/main/settings.png" style="margin-left:5px;position:fixed" /></a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->

</div><!-- /page -->

		<a href="#" onclick="showMap()">Click here</a>


	</div>


		<div id="map" style="width: 100%; height: 100%"></div>
	</div>

	<script src="../dist/leaflet.js"></script>
	<script>

		var map = L.map('map').setView([51.505, -0.09], 13);

		L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);


		L.marker([51.5, -0.09]).addTo(map)
			.bindPopup("<br/>Recent Updates<br/>More..").openPopup();

		L.circle([51.508, -0.11], 500, {
			color: 'red',
			fillColor: '#f03',
			fillOpacity: 0.5
		}).addTo(map).bindPopup("I am a circle.");

		L.polygon([
			[51.509, -0.08],
			[51.503, -0.06],
			[51.51, -0.047]
		]).addTo(map).bindPopup("I am a polygon.");


		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);
		$("#mainView").hide();
	</script>
</body>
</html>
